#cursor {
    width: 1em;
    height: 1em;
    border: 2px solid var(--color1);
    background-color: var(--color1);
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
